.window {
  background-color: rgb(24, 24, 24);
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  color: white;
}

.nav {
  padding: 10px 10px 0px 10px;
  background-color: rgb(44, 44, 44);
}

.nav_files ul {
  display: flex;
  gap: 4px;
  list-style: none;

  margin: 0px 0px 0px 30px;
  padding: 16px 16px 8px 16px;
}

.nav_files li {
  background-color: rgb(25, 25, 25);
  padding: 8px;
}

.nav_names {
  display: flex;
  justify-content: space-between;
}

.nav_files .nav_files_select {
  background-color: rgb(52, 52, 52);
}

.nav_files .page_active {
  background-color: rgb(34, 34, 34);
  border-bottom: 2px solid rgb(0, 255, 21);
}
.aside {
  position: absolute;
  top: 36px;
  bottom: 0;
  background-color: rgb(38, 38, 38);
}

.asideUl_background {
  background-color: rgb(38, 38, 38);
  position: relative;
  top: 0;
}

.aside ul {
  display: flex;
  flex-direction: column;

  list-style: none;
}

.aside .asideUl_background li {
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.aside .asideUl_background li:hover {
  position: relative;
  background-color: rgb(35, 35, 35);
  border-bottom: 1px solid var(--color-p);
}
.aside_nav {
  position: absolute;
  top: 0;
  left: 50px;
  bottom: 0;
  background-color: rgb(32, 32, 32);
}
.aside_nav_div_title {
  padding: 24px;
  background-color: rgb(44, 44, 44);
  display: flex;
  gap: 4px;
  align-items: center;
}
.aside_nav_div_title span {
  color: var(--color-p);
}

.aside_nav_div_title:hover {
  cursor: pointer;
  background-color: rgb(22, 22, 22);
}

/*Ul primeira*/
.primeiraUl_projetos {
  display: flex;
}

.primeiraUl_projetos .list_hover:hover {
  background-color: rgb(22, 22, 22);
}

/*Titulo projetos*/
.title_projetos_flex {
  display: flex;
  align-items: center;
}
.ul_li_div_title_projetos:hover {
  background-color: rgb(22, 22, 22);
}

/*div dos nomes projetos/sobre/contatos */
.ul_projetos_divNames {
  width: 80%;
  margin: auto;
}
/*lista dentro da 1 lista*/
.segundaUl_dentro_projetos li {
  padding: 4px;
  border-bottom: 1px solid transparent;
}
.segundaUl_dentro_projetos li:hover {
  border-bottom: 1px solid #fff;
  background-color: rgb(22, 22, 22);
}
.main {
  width: 90%;
  margin: auto;
  margin: 15px auto auto 80px;
  color: var(--color-p);
}
