.aside {
  position: absolute;
  top: 36px;
  bottom: 0;
}
/*  background-color: rgb(38, 38, 38);*/
.asideUl_background {
  background-color: rgba(25, 25, 25, 0.9);
  position: sticky;
  top: 36px;
  z-index: 10;
}

.both_aside {
  min-height: calc(100vh - 36px);
}
.aside ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.aside .asideUl_icons li {
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.aside .asideUl_icons li:hover {
  position: relative;
  background-color: rgb(35, 35, 35);
  border-bottom: 1px solid var(--color-p);
}

/* Navegação Do portfolio*/
.sticky {
  position: sticky;
}
.aside_nav {
  position: absolute;
  top: 0;
  left: 50px;
  bottom: 0;
  background-color: rgb(25, 25, 25);
}
.aside_nav_div_title {
  padding: 12px 32px 12px 32px;
  background-color: rgb(36, 45, 38);
  display: flex;
  gap: 4px;
  align-items: center;
}
.aside_nav_div_title span {
  color: var(--color-p);
}

.aside_nav_div_title:hover {
  cursor: pointer;
  background-color: rgb(22, 22, 22);
}

/*Ul primeira*/
.primeiraUl_projetos {
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  background-color: rgb(25, 25, 25);
  font-size: var(--font-size-li);
}
.primeiraUl_projetos .list_hover {
  padding: 6px 0px;
  cursor: pointer;
}
.primeiraUl_projetos .list_hover:hover {
  background-color: rgb(22, 22, 22);
}

/*Titulo projetos*/
.title_projetos_flex {
  display: flex;
  align-items: center;
}
.ul_li_div_title_projetos:hover {
  background-color: rgb(22, 22, 22);
}

/*div dos nomes projetos/sobre/contatos */
.ul_projetos_divNames {
  width: 85%;
  margin: auto;
}
/*lista dentro da 1 lista (segunda lista)*/
.segundaUl_div_li {
  width: 70%;
}
.segundaUl_dentro_projetos li {
  padding: 4px;
  border-bottom: 1px solid transparent;
}
.segundaUl_dentro_projetos li:hover {
  background-color: rgb(22, 22, 22);
}

@media screen and (max-width: 500px) {
  .aside {
    height: 100%;
  }
  .both_aside {
    height: 100vh;
  }
  .asideUl_background {
    top: 0;
    bottom: 0;
  }
}
