@font-face {
    font-family: 'Dosis';
    src: url(./fontes/Dosis-VariableFont.ttf);
}

/* MEDIA QUERRYYYYY*/

@media screen and (max-width: 768px){
    #Home{
        margin-top: 5%;
    }
}

@media screen and (min-width: 960px){
    #Home{
       margin-top: 150px;
    }
    
}







/* parallax*/
.full-size-background{
    width: 100%;
    height:1200px;
    
    background-size:cover;
    background: linear-gradient(#333333, #2c2c2c);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:unset;
  
}



/* NAVBAR*/


a.nav-link {
    background-color: rgba(48, 56, 56, 0.225);
    margin-left: 5px;
    border-radius: 5px;
   
   
}

a.nav-link:hover{
    border-bottom: 1px solid rgb(90, 235, 160);
}





/*



Inicio 




*/


#Home{
    font-family: 'Dosis';
    color:white;
    padding:0px 0px 0px 0px;
}




/*Títulos home*/


.div-title-main{
    
    width: 350px;
    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    

    display: flex;  
    padding: 5px;
    margin-bottom: 5px;
    
    border: 1px solid rgba(255, 255, 255, 0.235);
    border-radius: 5px;
    box-shadow: 2px 2px 1px solid black;
     
    font-size: 50px;
    font-weight: 400;
    
   
    
}
.title-main {
    margin: auto auto;
}

.div-title-secondary{
    height: 80px;
    width: 350px;
    
    overflow: hidden;
    background-color: #dddada1f;
    
    border-radius: 5px 5px 5px 3px;
    
    margin-left: auto;
    margin-right: auto;
}
.title-secondary{
    margin: auto auto;
    animation-name: HiddentoShow;
    border-right: 2px solid gray;
    
    animation: HiddentoShow 5s infinite normal, typing steps(45) 1s normal;
    
    white-space: nowrap ;
    overflow: hidden;
}

.title-secondary-desenvolvedor{
    animation: HiddentoShow 5s infinite normal, typing steps(45) 1s normal ;
}

/*Animations*/


@keyframes HiddentoShow {
    from{
       
        width: 0;
        
    }
    
    to{
       
        
        width: 18em;
        
    }
}


/*Títulos home /FIM[
     background-image: url(img/space-gabb.jpg);
*/




/***************Sliders ***************/

.div-photo{
   
    background: #43b457c9;
    
    width: 303px;
    height: 303px;
    border-radius: 200px;
    
    border: 2px solid rgb(214, 227, 221);
    display: flex;
    justify-content: right;
    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

.div-photo:hover{
    background: #45814392;
}



.photo{
    margin: auto auto;
    border: 2px solid  rgb(90, 235, 160);
    border-radius: 150px;
}

.photo:hover{
    border-color: #fff;
    cursor: pointer;
}


