@font-face {
    font-family: 'Dosis';
    src: url(./fonts/Dosis-VariableFont.ttf);
}

/*
    --background-color-main: linear-gradient(#333333, #2c2c2c);
*/
:root{
    font-size: 62.5%;
    --color-text:#fafafc;
    --color-text-subtitle:#b9b9b9;


    --background-color-main: linear-gradient(#181818, #080808);


    --box-shadow-left:#272727;
    --box-shadow-right:#222222;
    --color-title:#17cf1d;

    --font-size-p:calc(1.375rem + 1.5vw);
    --font-size-h1:calc(1.5rem + 2vw);

    font-family: 'Dosis';
    
}

body{  
    color: var(--color-text);
}



.full-size-background{
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-size:cover;
    background: var(--background-color-main);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:unset;
    
}

#Container{
    padding: 5%;
    border-radius: 2rem;
    box-shadow: .5px .5px 2px var(--box-shadow-right), -0.5px -0.5px 2px  var(--box-shadow-left);
    display: flex;
    align-items: self-start;
    display: flex;
    flex-direction: column;
    gap:2.4rem;
    font-family: 'Dosis';
    color:#fafafc;
}
main {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
h1{
    color: var(--color-title);
    font-size: var(--font-size-h1);
    font-weight: 400;
}





/* MEDIA QUERRYYYYY*/
@media screen  and (max-width:475px){
    #home-col{
        gap: 1.6rem;
        display: flex;
        flex-direction: column;
    
    }
}
@media screen and (max-width: 768px){
    .full-size-background{
        gap:4rem;
    }
}

@media screen and (min-width: 960px){
    .full-size-background{
        gap:4rem;
    }
    
}
